In [1]:
 #Pruebas de TeamMaker->TMKMeans
# importing the sys module
import sys  

# appending the directory of mod.py
# in the sys.path list
sys.path.append('C:/Users/fteje/Documents/Code/aicolearn/aicolearn/')       
 
# now we can import mod
import teammaker  
import numpy as np 
import pandas as pd
from pandas.api.types import CategoricalDtype

In [2]:
# Creamos las cabeceras
Caracteristicas = ["Edad","Sexo","NotaMedia"]

# Creamos los tipos de alumnos
DatosTipoAlumno1 = [23,"Hombre",9.8]
DatosTipoAlumno2 = [19,np.nan,np.nan]
DatosTipoAlumno3 = [20,"Mujer",7.0]

# Creamos la lista de alumnos
AlumnosTipo = [DatosTipoAlumno1,DatosTipoAlumno2,DatosTipoAlumno3,DatosTipoAlumno1,DatosTipoAlumno2,DatosTipoAlumno3,DatosTipoAlumno1,DatosTipoAlumno2]

In [3]:
AlumnosTipo

[[23, 'Hombre', 9.8],
 [19, nan, nan],
 [20, 'Mujer', 7.0],
 [23, 'Hombre', 9.8],
 [19, nan, nan],
 [20, 'Mujer', 7.0],
 [23, 'Hombre', 9.8],
 [19, nan, nan]]

In [4]:
# Creamos el panda
tipoDato = pd.CategoricalDtype(categories=["Hombre", "Mujer"], ordered=False)
dAlumnos = pd.DataFrame (columns=[
        "Edad",
        "Sexo",
        "NotaMedia",
        "Preferencia",
        "Navegador",
        "Distancia"
])
print (dAlumnos)

dAlumnos["Edad"] = [23,19,20,23,19,20,23,19]
dAlumnos["Sexo"] = ["Hombre","Mujer","Hombre","Hombre","Mujer","Hombre","Hombre","Mujer"]
dAlumnos["NotaMedia"] = [9.8,5.0,7.0,9.8,5.0,7.0,9.8,5.0]
dAlumnos["Preferencia"] = [1,3,2,1,np.nan,2,1,3]
dAlumnos["Navegador"] = ["Chrome","Firefox","Safari","Chrome","Firefox",np.nan,"Chrome","Firefox"]
dAlumnos["Distancia"] = ["1Km","2Km","3Km","1Km","2Km","3Km","1Km","2Km"]


print("Cambiamos la categoría de SEXO, Preferencia, Navegador y Distancia")
dAlumnos["Sexo"] = pd.Categorical(dAlumnos["Sexo"], ordered=False, categories=["Hombre","Mujer"])
dAlumnos["Preferencia"] = pd.Categorical(dAlumnos["Preferencia"], ordered=True, categories=[3,2,1])
dAlumnos["Navegador"] = pd.Categorical(dAlumnos["Navegador"], ordered=False, categories=["Chrome","Firefox","Safari"])
dAlumnos["Distancia"] = pd.Categorical(dAlumnos["Distancia"], ordered=True, categories=["3Km","2Km","1Km"])

print (dAlumnos)

Empty DataFrame
Columns: [Edad, Sexo, NotaMedia, Preferencia, Navegador, Distancia]
Index: []
Cambiamos la categoría de SEXO, Preferencia, Navegador y Distancia
   Edad    Sexo  NotaMedia Preferencia Navegador Distancia
0    23  Hombre        9.8           1    Chrome       1Km
1    19   Mujer        5.0           3   Firefox       2Km
2    20  Hombre        7.0           2    Safari       3Km
3    23  Hombre        9.8           1    Chrome       1Km
4    19   Mujer        5.0         NaN   Firefox       2Km
5    20  Hombre        7.0           2       NaN       3Km
6    23  Hombre        9.8           1    Chrome       1Km
7    19   Mujer        5.0           3   Firefox       2Km

In [5]:
#Creamos un objeto TMRandom
TMK = teammaker.TMKmeans(dAlumnos)

In [6]:
TMK.alumnos

   Edad    Sexo  NotaMedia Preferencia Navegador Distancia
0    23  Hombre        9.8           1    Chrome       1Km
1    19   Mujer        5.0           3   Firefox       2Km
2    20  Hombre        7.0           2    Safari       3Km
3    23  Hombre        9.8           1    Chrome       1Km
4    19   Mujer        5.0         NaN   Firefox       2Km
5    20  Hombre        7.0           2       NaN       3Km
6    23  Hombre        9.8           1    Chrome       1Km
7    19   Mujer        5.0           3   Firefox       2Km

In [7]:
# Crea equipos con un número de alumnos
TMK.creaEquipos(3)

Alumnos antes de transformar    Edad    Sexo  NotaMedia Preferencia Navegador Distancia
0    23  Hombre        9.8           1    Chrome       1Km
1    19   Mujer        5.0           3   Firefox       2Km
2    20  Hombre        7.0           2    Safari       3Km
3    23  Hombre        9.8           1    Chrome       1Km
4    19   Mujer        5.0         NaN   Firefox       2Km
5    20  Hombre        7.0           2       NaN       3Km
6    23  Hombre        9.8           1    Chrome       1Km
7    19   Mujer        5.0           3   Firefox       2Km
Tamaño del dataset 6
obteniendo columnas Index(['Edad', 'Sexo', 'NotaMedia', 'Preferencia', 'Navegador', 'Distancia'], dtype='object')
Tipos de las columnas Edad              int64
Sexo           category
NotaMedia       float64
Preferencia    category
Navegador      category
Distancia      category
dtype: object
** categoría **
Categoría NO Ordenada
** categoría **
Categoría ordenada
** categoría **
Categoría NO Ordenada
** categoría **
Categoría ordenada
Categorias ordenadas detectadas:
['Preferencia', 'Distancia']
SUBSET DE CATEGORIAS ORDENADAS   Preferencia Distancia
0           1       1Km
1           3       2Km
2           2       3Km
3           1       1Km
4         NaN       2Km
5           2       3Km
6           1       1Km
7           3       2Km
*** [[ 0.  0.]
 [ 2.  1.]
 [ 1.  2.]
 [ 0.  0.]
 [nan  1.]
 [ 1.  2.]
 [ 0.  0.]
 [ 2.  1.]]
=== Alumnos transformados ===    Edad    Sexo  NotaMedia  Preferencia Navegador  Distancia
0    23  Hombre        9.8          0.0    Chrome        0.0
1    19   Mujer        5.0          2.0   Firefox        1.0
2    20  Hombre        7.0          1.0    Safari        2.0
3    23  Hombre        9.8          0.0    Chrome        0.0
4    19   Mujer        5.0          NaN   Firefox        1.0
5    20  Hombre        7.0          1.0       NaN        2.0
6    23  Hombre        9.8          0.0    Chrome        0.0
7    19   Mujer        5.0          2.0   Firefox        1.0
Categorias NO ordenadas detectadas:
['Sexo', 'Navegador']
SUBSET DE CATEGORIAS NO ORDENADAS      Sexo Navegador
0  Hombre    Chrome
1   Mujer   Firefox
2  Hombre    Safari
3  Hombre    Chrome
4   Mujer   Firefox
5  Hombre       NaN
6  Hombre    Chrome
7   Mujer   Firefox
===== CATEGORIAS NO ORDENADAS TRANSFORMADAS====

[[0. 1. 0. 0. 0.]
 [1. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 1. 0. 0. 0.]
 [1. 0. 1. 0. 0.]
 [0. 0. 0. 0. 1.]
 [0. 1. 0. 0. 0.]
 [1. 0. 1. 0. 0.]]

Categorías utilizadas por el OneHotEncoder

['Sexo_Mujer' 'Navegador_Chrome' 'Navegador_Firefox' 'Navegador_Safari'
 'Navegador_nan']
agrupamiento Heterogeneo

In [8]:
TMK.alumnos

,Edad,NotaMedia,Preferencia,Distancia,Sexo_Mujer,Navegador_Chrome,Navegador_Firefox,Navegador_Safari,Navegador_nan
0,23,9.8,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,19,5.0,2.0,1.0,1.0,0.0,1.0,0.0,0.0
2,20,7.0,1.0,2.0,0.0,0.0,0.0,1.0,0.0
3,23,9.8,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,19,5.0,NaN,1.0,1.0,0.0,1.0,0.0,0.0
5,20,7.0,1.0,2.0,0.0,0.0,0.0,0.0,1.0
6,23,9.8,0.0,0.0,0.0,1.0,0.0,0.0,0.0
7,19,5.0,2.0,1.0,1.0,0.0,1.0,0.0,0.0

In [ ]:
TMR.alumnosxEquipo

In [ ]:
TMR.equiposGenerados

In [ ]:
TMR._buscaEquipo(5)

In [ ]:
TMR.intercambiaAlumnos(1,3)

In [ ]:
TMR.equiposGenerados

In [ ]:
TMR.fijaEquipos([0,2])
TMR.creaEquipos(100)

In [ ]:
TMR.equiposGenerados

In [ ]:
TMR.eliminaEquipos()

In [ ]:
TMR.equiposGenerados

In [ ]:
TMR.creaEquipos(4)
TMR.equiposGenerados